# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Ignore test data files retrieved from Fountain website.
testdata/Big%20Fish.fountain
testdata/Big%20Fish.pdf
testdata/Brick%20&%20Steel.fountain
testdata/Brick%20&%20Steel.pdf
testdata/The%20Last%20Birthday%20Card.fountain
testdata/The%20Last%20Birthday%20Card.pdf

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Project ignores
*.trelby
testout/
testdata/Big%20Fish.fdx
testdata/Brick%20&%20Steel.fdx
testdata/The%20Last%20Birthday%20Card.fdx
bin/
dist/
man/
