# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Ignore test data files retrieved from Fountain website.
testdata/Big-Fish.fountain
testdata/Big-Fish.pdf
testdata/Brick-&-Steel.fountain
testdata/Brick-&-Steel.pdf
testdata/The-Last-Birthday-Card.fountain
testdata/The-Last-Birthday-Card.pdf

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Project ignores
*.trelby
testout/
testdata/Big-Fish.fdx
testdata/Brick-&-Steel.fdx
testdata/The-Last-Birthday-Card.fdx
bin/
dist/
man/
