<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
    <link href="/css/site.css" rel="stylesheet" />
</head>
<body>
<header>
${title}
</header>
<section>
${body}
</section>
<nav>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="index.html">README</a></li>
    <li><a href="LICENSE">LICENSE</a></li>
    <li><a href="INSTALL.html">INSTALL</a></li>
    <li><a href="user-manual.html">User Manual</a></li>
<!--    <li><a href="search.html">Search Docs</a></li> -->
    <li><a href="about.html">About</a></li>
    <li><a href="https://github.com/rsdoiel/fdx">GitHub</a></li>
</ul>
</nav>
<footer>
copyright (c) 2021 all rights reserved.
Released under the BSD 2-Clause license
See: http://opensource.org/licenses/BSD-2-Clause
</footer>
</body>
</html>
<!DOCTYPE html>
<html>
